/*  your css code here. If applicable */
.header{
	background-color:#011e29;
	height:30px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	color:white;
	padding:15px;
	}
.body{
	background-color:#f5f5f5;
	min-height:900px;
	display:flex;
	gap:10px;
}
.latest-news-section{
	background-color:white;
	border-radius:20px;
	padding:2px;
	width:200px;
	height:150px;
	margin-left:30px;
	
}
.main-article{
	background-color:white;
	border-radius:20px;
	padding:2px;
	width:300px;;
	height:200px;
	text-align:center;
}
.pictorial-news-section{
background-color:white;
	border-radius:20px;
	text-align:center;
	width:200px;
	height:100px;
	padding:5px;
	
}